#wrapper-header-single-invoice{
    grid-area: wrapper-header-single-invoice;
}

#grid-header-single-invoice{
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-areas: 
        'header-invoice-title header-invoice-cost'
        'header-invoice-date header-invoice-date'
        'header-invoice-description header-invoice-print-button'
    ;
}

.header-invoice-title{
    grid-area:header-invoice-title;
}

.header-invoice-date{
    grid-area:header-invoice-date;
}

.header-invoice-description{
    grid-area:header-invoice-description;
}

.header-invoice-cost{
    grid-area:header-invoice-cost;
}

.header-invoice-print-button{
    grid-area:header-invoice-print-button;
}

.header-invoice-print-button a i {
    color:var(--dark-color);
}

.header-invoice-print-button :hover{
    color:var(--main-color);
}

