#wrapper-header-single-invoice{
    grid-area: wrapper-header-single-invoice;
}

#grid-header-single-invoice{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows:fit-content;
    grid-template-areas: 
        "header-title header-date header-button"
    ;
}

.header-title{
    grid-area: header-title;
}

.header-date{
    grid-area: header-date;
}

.header-button{
    grid-area:header-button;
}