<nav>

    <!-- contains our hamburger icon -->
    <section>

    </section>

    <!-- contains the 'X' icon -->
    <section>
        
    </section>

    <ul class="flex_utility">
        <li>
            <a href="/user/home">home</a>
        </li>
        <li>
            <a href="/category">categories</a>
        </li>
        <li>
            <a href="/vendor">vendors</a>
        </li>
        <li>
            <a href="/invoice">invoices</a>
        </li>
        <li>
            <a href="/user/logout">logout</a>         
        </li>
    </ul>
</nav>


