<nav class='mar-b-md'>

    <!-- contains our hamburger icon -->
    <div id="menu_icon" class="flex_center icon">
        <i class="fa-solid fa-bars fa-lg"></i>
    </div>

    <!-- contains the 'X' icon -->
    <div id='close_icon' style="display:none;" class="flex_center icon">
        <i class="fa-solid fa-xmark fa-lg"></i>
    </div>

    <!-- nav title -->
    <header class="nav_title">
        <h1>Invoice Generator</h1>
    </header>

    <!-- contains our navigation -->
    <ul id="nav_list">
        <li>
            <a href="/invoice">invoices</a>
        </li>
        <li>
            <a href="/category">categories</a>
        </li>
        <li>
            <a href="/vendor">vendors</a>
        </li>
        <li>
            <a href="/logout">logout</a>         
        </li>
    </ul>


</nav>



