<nav>

    <!-- contains our hamburger icon -->
    <div id="menu_icon" class="flex_center icon"
    onclick="toggleNav()">
        <i class="fa-solid fa-bars fa-lg"></i>
    </div>

    <!-- contains the 'X' icon -->
    <div id='close_icon' style="display:none;" class="flex_center icon" onclick="toggleNav()">
        <i class="fa-solid fa-xmark fa-lg"></i>
    </div>

    <!-- nav title -->
    <header class="nav_title">
        <h1>Invoice Generator</h1>
    </header>

    <!-- contains our navigation -->
    <ul id="nav_list">
        <li>
            <a href="/user/home">home</a>
        </li>
        <li>
            <a href="/category">categories</a>
        </li>
        <li>
            <a href="/vendor">vendors</a>
        </li>
        <li>
            <a href="/invoice">invoices</a>
        </li>
        <li>
            <a href="/user/logout">logout</a>         
        </li>
    </ul>


</nav>

<!-- font awesome -->
<script src="https://kit.fontawesome.com/ef0709a418.js" crossorigin="anonymous"></script>

<!-- contains functions to toggle elements -->
<script src="../../public/service/toggle.js"></script>

<script>

const toggleNav = () => {
    
    const menuIcon = document.getElementById('menu_icon')
    const closeIcon = document.getElementById('close_icon')
    const navList = document.getElementById('nav_list')

    toggle.simple({
        menuIcon,
        closeIcon,
    })

    toggle.pickStyle(navList, 'flex')

}

</script>


