



/* global */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    border:none;
}

/* variables */

:root {

    /* colors */
    --first-color:steelblue;
    --main-color:steelblue;
    --red-color:#CC585E;
    --gray-color:rgb(230, 230, 230);
    --dark-color:black;
    --light-color:white;
    --second-color:rgb(255, 255, 255);
    --third-color:rgb(0, 0, 0);
    --fourth-color:rgb(230, 230, 230);
    --fifth-color:rgb(0, 174, 255);
    --sixth-color:rgb(255, 71, 72);

    /* rem */
    --rem-xxs:0.25rem;
    --rem-xs:0.5rem;
    --rem-sm:0.75rem;
    --rem-md:1rem;
    --rem-lg:1.25rem;
    --rem-xl:1.5rem;
    --rem-xxl:1.75rem;

    /* fonts */
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'EB Garamond', serif;
 
    
    /* breakpoints */
    --phone-size:425px; 
    --laptop-size:900px;

}

/* colors */

.first_color{
    background-color:var(--first-color);
}

.second_color{
    background-color:var(--second-color);
}

.third_color{
    background-color: var(--third-color);
}

/* fonts */

.main_font{
    font-family:var(--main-font);
}

.secondary_font{
    font-family:var(--secondary-font);
}

/* icons */


/* grid */

.grid_utility{
    display: grid;
}

/* flex  */

.flex_center{
    display:flex;
    align-items: center;
    justify-content: center;
}


/* mouse */
.mouse_pointer{
    cursor: pointer;
}

/* unique */

/* testing */

.test_border{
    border:solid black 1px;
}

.flex_left_align{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.flex_center_align{
    display: flex;
    align-items: center;
    justify-content:center;
}

.flex_right_align{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}