



/* global */

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    border:none;
}

/* variables */

:root {
    --first-color:rgb(7, 235, 132);
    --second-color:rgb(255, 255, 255);
    --third-color:rgb(0, 0, 0);
    --fourth-color:rgb(230, 230, 230);
    --fifth-color:rgb(0, 174, 255);
    --sixth-color:rgb(255, 71, 72);
    --main-font: 'EB Garamond', serif;
    --secondary-font: 'Roboto', sans-serif;
    --light-font-weight:100;
    --medium-font-weight:300;
    --heavy-font-weight:500;
    --shadow-card:1px 1px 10px gray;
    --top-border:solid var(--first-color) 3px;
}

/* colors */

.first_color{
    background-color:var(--first-color);
}

.second_color{
    background-color:var(--second-color);
}

.third_color{
    background-color: var(--third-color);
}

/* fonts */

.main_font{
    font-family:var(--main-font);
}

.secondary_font{
    font-family:var(--secondary-font);
}

/* icons */


/* grid */

.grid_utility{
    display: grid;
}

/* flex  */

.flex_center{
    display:flex;
    align-items: center;
    justify-content: center;
}


/* mouse */
.mouse_pointer{
    cursor: pointer;
}

/* unique */

/* testing */

.test_border{
    border:solid black 1px;
}

.flex_left_align{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.flex_center_align{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
}

.flex_right_align{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.max_width{
    width: 100%;
}