.bg-color-main{
    background-color: var(--main-color);
}

.color-main{
    color:var(--main-color);
}

.bg-color-red{
    background-color: var(--red-color);
}

.bg-color-white{
    background-color: white;
}

.bg-color-gray{
    background-color: var(--gray-color);
}

.color-white{
    color:white;
}


