.padding-sm{
    padding:var(--rem-sm);
}

.padding-xs{
    padding:var(--rem-xs);
}

.padding-xxs{
    padding:var(--rem-xxs);
}

.padding-sides-80{
    padding-left:10%;
    padding-right:10%;
}

.padding-left-md{
    padding-left:var(--rem-md);
}

.padding-left-sm{
    padding-left:var(--rem-sm);
}

.pad-l-sm{
    padding-left: var(--rem-sm);
}

.padding-left-xs{
    padding-left:var(--rem-xs);
}

.padding-sides-sm{
    padding-left: var(--rem-sm);
    padding-right: var(--rem-sm);
}

.padding-sides-xs{
    padding-left: var(--rem-xs);
    padding-right: var(--rem-xs);
}

.pad-rl-sm{
    padding-left: var(--rem-sm);
    padding-right: var(--rem-sm);
}

.pad-trb-xs{
    padding-top:var(--rem-xs);
    padding-right: var(--rem-xs);
    padding-bottom:var(--rem-xs);
}

.pad-sm{
    padding: var(--rem-sm);
}

.pad-xs{
   padding: var(--rem-xs); 
}