.width-33{
    width:33%;
}

.width-100{
    width:100%;
}

.width-50{
    width:50%;
}

.width-80{
    width:80%;
}

.max-width-phone-size{
    max-width: var(--phone-size);
}

.max-width-laptop-size{
    max-width: var(--laptop-size);
}

.width-fit-content{
    width:fit-content;
}

.width-rem-sm{
    width:var(--rem-sm);
}

.width-rem-md{
    width:var(--rem-md);
}

.width-50-px{
    width:50px;
}