

@media screen and (min-width:900px){
    #single_invoice_page_container{
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "navbar navbar"
            "invoice_header expense_form"
            "mobile_expense_table mobile_expense_table"
            "expense_table expense_table"
        ;
    }   
}

#single_invoice_footer{
    height:2em;
    background-color: white;
    grid-area: footer;
}