table{
    /* width:100%; */
    /* max-width: 425px; */
    border:solid var(--third-color) 1px;
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 10px;
}

tbody{
    /* width:100%; */
}

table th{
    font-family: var(--secondary-font);
    font-weight: bold;
    text-align: left;
    padding:0.5em;
    text-align: center;
}

table td{
    font-family: var(--main-font);
    padding:0.5em;
    margin:0.5em;
    text-align: center;
}
