<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="ixEn_DOdAlzCwyz_Lcnd7DxN3TEJrg40Sq4aaD_kulc" />
    <%- include('../partials/styles.ejs') %>
    <title>Login</title>
</head>
<body NODE_ENV="<%=NODE_ENV%>">

    <main>

        <%- include('../partials/navbar.ejs') %>

        <section class="flx-r-c mar-b-md">
            <form action="/" method="POST" id="form-login" url-post="/" class="grid pad-sm mx-wth-phn wth-100 brd-t-main-dull shdw-main">
                <h1 class="font-p-xl mar-b-xs">Login</h1>
                <p class="error-message bg-red clr-wht font-s-md pad-xs mar-b-xs hide">error</p>
                <label class="font-p-md" for="username">Username</label>
                <input class="form-control form-required font-s-lg mar-b-xs brd-blk-sm-sharp brd-r-d fcs-input" type="text" name="username">
                <label class="font-p-md" for="password">Password</label>
                <input class="form-control form-required font-s-lg mar-b-xs brd-blk-sm-sharp brd-r-d fcs-input" type="password" for="password" name="password">
                <div class="remember_me">
                    <p class="form_button_text">Remember Me?</p>
                    <input type="checkbox">
                </div>
                <div class="flx-r-c">
                    <button class="submit-button flx-r-c brd-main-sm-sharp pad-rl-sm clr-main bg-wht">
                        <h1 class="font-p-lg">Login</h1>
                        <i class="fa-solid fa-arrow-right-to-bracket fa-lg pad-l-sm"></i>
                    </button>
                    <div class="loading-icon hide"></div>
                </div>
            </form>
        </section>

        
    </main>

    

</body>
</html>

<%- include('../partials/scripts.ejs') %>

<script>

window.addEventListener('load', () => {
    
    const formLogin = document.getElementById('form-login')
    const formLoginSubmit = formLogin.getElementsByClassName('submit-button')[0]
    const formLoginInputs = formLogin.getElementsByClassName('form-control')

    //allows us to post our form
    formLogin.addEventListener('submit', function(event){
        event.preventDefault()
        submitForm(formLogin, "POST", formLogin.getAttribute('url-post'))
    })
    
})

</script>


