<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="ixEn_DOdAlzCwyz_Lcnd7DxN3TEJrg40Sq4aaD_kulc" />
    <%- include('../partials/styles.ejs') %>
    <title>Login</title>
</head>
<body NODE_ENV="<%=NODE_ENV%>">

    <div id='login_page_grid'>

        <%- include('../partials/navbar.ejs') %>

        <div id="login_form_container">
            <form action="/" method="POST" id="login_form" class="form_styles_general">
                <h2 class="form_header">Login</h2>
                <label class="form_label" for="username">Username</label>
                <input class="form_input" type="text" name="username">
                <label class="form_label" for="password">Password</label>
                <input class="form_input" type="password" for="password" name="password">
                <div class="remember_me">
                    <p class="form_button_text">Remember Me?</p>
                    <input type="checkbox">
                </div>
                <div class="form_button_container">
                    <button class="form_button">
                        <p class="form_button_text">Login</p>
                        <i class="fa-solid fa-right-to-bracket"></i>
                    </button>
                </div>
            </form>
        </div>


        <div id="register_form_container">
            <form action="/user/register" method="POST" id="register_form" class="form_styles_general">
                <h2 class="form_header">Sign Up</h2>
                <label class="form_label" for="username">Username</label>
                <input class="form_input" type="text" name="username">
                <label class="form_label" for="email">Email</label>
                <input class="form_input" type="email" name="email">
                <label class="form_label" for="password">Password</label>
                <input class="form_input" type="password" for="password" name="password">
                <div class="form_button_container">
                    <button class="form_button">
                        <p class="form_button_text">Sign-Up</p>
                        <i class="fa-solid fa-users"></i>
                    </button>
                </div>
            </form>
        </div>
    
        
    </div>

    

    <!-- font awesome icons -->

</body>
</html>


