<%- include('../partials/styles.ejs') %>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body class="second_color">

    <div id='login_grid' class="grid_utility">

        <%- include('../partials/navbar.ejs') %>

        <form action="/user/login" method="POST" class="grid_utility">
            <h2 class="login_header">Login</h2>
            <label class="username_label" for="username">Username</label>
            <input class="username_input" type="text" name="username">
            <label class="password_label" for="password">Password</label>
            <input class="password_input" type="password" for="password" name="password">
            <button class="login_submit">Submit</button>
        </form>
        
    </div>

    <!-- these function automatically fire upon loading the page -->
    <script src="../../public/service/init.js"></script>

</body>
</html>


