<div id="register_form_container">
    <form action="/user/register" method="POST" id="register_form" class="form_styles_general">
        <h2 class="form_header">Sign Up</h2>
        <label class="form_label" for="username">Username</label>
        <input class="form_input" type="text" name="username">
        <label class="form_label" for="email">Email</label>
        <input class="form_input" type="email" name="email">
        <label class="form_label" for="password">Password</label>
        <input class="form_input" type="password" for="password" name="password">
        <div class="form_button_container">
            <button class="form_button">
                <p class="form_button_text">Sign-Up</p>
                <i class="fa-solid fa-users"></i>
            </button>
        </div>
    </form>
</div>