#add_expense_container{
    display:flex;
    justify-content:center;
    grid-area:expense_form;
}

@media screen and (min-width:900px){
    #add_expense_container{
        justify-content: start;
    }   
}