#expense_table_container{
    display:none;
    justify-content: center;
    grid-area: expense_table;
}

@media screen and (min-width:900px){
    #expense_table_container{
        display:flex;
    }   
}




