#login_form_container{
    display:flex;
    justify-content: center;
    grid-area: login_form;
}

#login_form{
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
        "login_header login_header login_header"
        "username_label username_label username_label"
        "username_input username_input username_input"
        "password_label password_label password_label"
        "password_input password_input password_input"
        "remember_me remember_me ."
        ". login_submit ."
    ;
}

#login_header{
    grid-area: login_header;
}

#username_label{
    grid-area: username_label;
}

#username_input{
    grid-area: username_input;
}

#password_label{
    grid-area: password_label;
}

#password_input{
    grid-area: password_input;
}

#remember_me{
    grid-area: remember_me;
    font-size: 1.25em;
    display:flex;
    align-items: center;
    font-style:var(--main-font);
}

#login_submit{
    grid-area: login_submit;
}