#mobile_expense_table_container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 0.5em 0.5em 0.5em;
    grid-area: mobile_expense_table;
}


@media screen and (min-width:450px){
    #mobile_expense_table_container{
        flex-wrap: wrap;
        flex-direction: row;
    }   
}

@media screen and (min-width:900px){
    #mobile_expense_table_container{
        display:none;
    }   
}

#mobile_expense_table_container button{
    width: 100%;
    font-size: var(--secondary-font);
    font-size: 1.25rem;   
}

#mobile_expense_table_container table{
    box-shadow: var(--shadow-card);  
    border-top: var(--top-border);
}

.mobile_save_button{
    cursor: pointer;
    padding: 0.5em;
    background-color: var(--second-color);
}

.mobile_save_button:hover{
    color:var(--first-color);
}

.mobile_delete_button{
    cursor: pointer;
    padding: 0.5em;
    background-color: var(--second-color);
}

.mobile_delete_button:hover{
    color:var(--sixth-color);
}

.mobile_expense_table{
    max-width: 425px;
}

.mobile_expense_table td, input, select{
    font-size: 1rem
}

.mobile_expense_table td:hover{
    background-color: var(--fourth-color);
    box-shadow:none;
}

.mobile_expense_table input:hover{
    background-color: var(--fourth-color);
    box-shadow:none;

}

.mobile_expense_table select:hover{
    background-color: var(--fourth-color);
    box-shadow:none;

}

.mobile_expense_table input{
    width:100%;
    text-align: center;
    text-align: -webkit-center;
    font-family: var(--main-font);
    background-color: white;
}

.mobile_expense_table select{
    width:100%;
    text-align: center;

    font-family: var(--main-font);
}

.mobile_expense_main_row{
    cursor: pointer;
    font-size: 1.25rem;
}

.mobile_expense_main_row th{
    color:var(--third-color);
    background-color:var(--second-color);
}

.mobile_expense_main_row:hover th{
    color:var(--third-color)!important;
    background-color:var(--first-color)!important;
}

.mobile_save_button_cell:hover{
    background-color: var(--second-color);
}