nav{
    grid-area: navbar;
    margin:0.5em 0 0 0;
    color: var(--third-color);
    background-color:var(--second-color);
    display:grid;
    /* gap: 0.5em; */
    grid-template-columns: auto 1fr;
    grid-template-areas: 
        "icon title title title"
        "list list list list"
    ;
}

.icon{
    margin:1em;
    grid-area: icon;
    cursor: pointer;
}

.nav_title{
    grid-area: title;
    font-size: 1em;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: var(--secondary-font);
}

#nav_list{
    grid-area: list;
    list-style: none;
    display:none;
    text-align: center;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: var(--secondary-font);
    font-size: 1.25em;
    font-family: var(--main-font);
}

#nav_list a {
    color:var(--third-color);
}

#nav_list a:hover{
    color:var(--first-color);
}

#nav_list li {
    width:80%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width:450px){
    .icon{
        display:none;
    }   
}

@media screen and (min-width:450px){
    #nav_list{
        display:flex;
        flex-direction: row;
        margin:0.5em 0 0.5em 0;
    }
}

@media screen and (min-width:450px){
    nav{
        grid-template-columns: 1fr;
        grid-template-areas: 
            'title'
            'list'
        ;
    }
}
