#single_invoice_header_container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0.5em;
    grid-area: invoice_header;
}

@media screen and (min-width:900px) {
    #single_invoice_header_container{
        align-items: flex-start;
        justify-content: end;
    }
}


#single_invoice_header{
    display: grid;
    padding: 0.5em;
    border-top: var(--top-border);
    border-radius: 10px;
    max-width: 425px;
    width:100%;
    box-shadow: var(--shadow-card);
    grid-template-columns: 4fr 1fr;
    grid-template-areas: 
        "name cost"
        "date date"
        "description print"
        "delete delete"
    ;
}

.header_invoice_name{
    grid-area: name;
    font-family: var(--secondary-font);
}

.header_invoice_date{
    grid-area:date;
    font-family: var(--main-font);
}

.header_invoice_description{
    grid-area: description;
    font-family: var(--main-font);
}

.header_invoice_cost{
    grid-area:cost;
    display: flex;
    align-items: center;
    justify-content: right;
    font-family: var(--secondary-font);
}

.invoice_print_link{
    grid-area:print;
    text-align: right;
    color: var(--third-color);
}

.invoice_print_link:hover i{
    color:var(--first-color);
}

#expense_delete_button{
    grid-area:delete;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2em;
    background-color: var(--second-color);
    cursor: pointer;
}

#expense_delete_button:hover{
    color:var(--sixth-color);
}

